<div style="width:40%;margin:30px">
<p style="color:white;text-indent:2em;font-size:1.75em">作為一間在台灣發展的日本拉麵店，我們的主旨是「讓台灣民眾享受到與日本一樣的味道、品質與評價」，這意味著我們將致力於成為讓台灣的各位一直喜愛的店鋪。

澤の屋也有著成為亞洲第一的夢想，秉持著不想成為高門檻的拉麵店，而是平易近人、任何人都可以光顧的風格，在今後也會不斷地在台灣各地開設新店，拓展下去，融入於台灣的社會當中。

用一碗有溫度的拉麵拉起家人的微笑，讓溫暖親切的拉麵文化給海外各個國家的人民。

</p></div>
<video allowscriptaccess="never"  src="https://www.youtube.com/watch?v=rHKJGfun1u4&list=RDrHKJGfun1u4&start_radio=1&t=0&rel=1&autoplay=1" type="application/x-shockwave-flash" width="180" height="180"></embed>