<style>
    .all{
        width:88%;
        margin: auto;
        color:white
    }
    .each {
        {{!-- border: 1px solid; --}}
        width: 500px;
        text-align: center;
        margin: 20px;
        float: left;
       font-size: 30px
    }
    
</style>
<div class="all">
    <div class="each">
        <img src="/images/1.jpg" width="500">
        <p>豚骨拉麵</p>
        
    </div>
    <div class="each">
        <img src="/images/2.jpg" width="500">
        <p>醬油拉麵</p>
    </div>
    <div class="each">
        <img src="/images/3.jpg" width="500">
        <p>白湯拉麵</p>
    </div>
    <div class="each">
        <img src="/images/4.jpg" width="500">
        <p>味增拉麵</p>
    </div>
    <div class="each">
        <img src="/images/6.jpg" width="500">
        <p>蒙古白湯拉麵</p>
    </div>
    <div class="each">
        <img src="/images/5.jpg" width="500">
        <p>韓式拉麵</p>
    </div>
    <div class="each">
        <img src="/images/7.jpg" width="500">
        <p>地獄麻辣拉麵</p>
    </div>
</div>