
<div id="info" class="alert" style="display: none"></div>

<form method="post" name="form1" onsubmit="return checkForm();">
    {{#with item}}
    <input type="hidden" name="sid" value="{{sid}}">
    <div class="form-group">
        <label for="sales_id">員工編號</label>
        <input type="text" class="form-control"
               value="{{sales_id}}"
               id="sales_id" name="sales_id">
    </div>
    <div class="form-group">
        <label for="name">姓名</label>
        <input type="text" class="form-control"
               value="{{name}}"
               id="name" name="name">
    </div>
    <div class="form-group">
        <label for="birthday">生日</label>
        <input type="text" class="form-control"
               value="{{birthday}}"
               id="birthday" name="birthday">
    </div>
    <button type="submit" class="btn btn-primary">修改</button>
    {{/with}}
</form>
<script>
    var info = $('#info');
    var datePattern = /^\d{4}\-\d{1,2}\-\d{1,2}$/;


    function checkForm(){
        info.hide();
        if(! form1.sales_id.value) {
            info.removeClass('alert-success');
            info.addClass('alert-danger');
            info.show();
            info.html('請填員工編號');
            return false;
        }
        if(form1.name.value.length < 2) {
            info.removeClass('alert-success');
            info.addClass('alert-danger');
            info.show();
            info.html('請填正確的姓名');
            return false;
        }
        if(! datePattern.test(form1.birthday.value)){
            info.removeClass('alert-success');
            info.addClass('alert-danger');
            info.show();
            info.html('請填正確的生日');
            return false;
        }

        $.post('/sales3/edit/' + form1.sid.value, $(form1).serialize(), function(data){
            if(data.success){
                info.removeClass('alert-danger');
                info.addClass('alert-success');
                info.show();
                info.html(data.info);
            } else {
                info.removeClass('alert-success');
                info.addClass('alert-danger');
                info.show();
                info.html(data.info);
            }

        }, 'json');

        return false;
    }
</script>