<form method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" class="form-control" id="email" name="email">
        {{#if email}}
            <small class="form-text text-muted">上次輸入: {{email}}</small>
        {{/if}}
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password">
        {{#if password}}
            <small class="form-text text-muted">上次輸入: {{password}}</small>
        {{/if}}
    </div>
    <input type="hidden" name="hello" value="777">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>